<footer class="footer">
  <div class="container-fluid social-icons">
      <a href="{{ site.repo }}" target="_blank" data-toggle="tooltip" title="GitLab Repo"><i class="fab fa-gitlab"></i></a>
      <!--<a href="{{ site.youtube }}" target="_blank" data-toggle="tooltip" title="YouTube Channel"><i class="fab fa-youtube-square fa-fw"></i></a>-->
      <!--<a href="{{ site.twitter }}" target="_blank" data-toggle="tooltip" title="Twitter"><i class="fab fa-twitter-square fa-fw"></i></a>-->
      <!--<a href="{{ site.trello }}" target="_blank" data-toggle="tooltip" title="Trello Board"><i class="fab fa-trello fa-fw"></i></a>-->
      <!--<a href="{{ site.blog }}" target="_blank" data-toggle="tooltip" title="Blog Posts"><i class="fab fa-wordpress fa-fw"></i></a>-->
      <!--<a href="{{ site.email_list }}" target="_blank" data-toggle="tooltip" title="Mailing List"><i class="fas fa-envelope-square fa-fw"></i></a>-->
  </div>
</footer>
