<nav class="navbar navbar-dark navbar-expand-md fixed-top">
    <a class="navbar-brand" href="{{ site.baseurl }}/" aria-label="DataHubLogo"><img src="{{ site.baseurl }}/assets/img/datahub_logo_black.png" alt="DATA HUB LOGO"></a>

    <div class="collapse navbar-collapse justify-content-end" id="dhNavbar">
        <!--<ul class="navbar-nav">-->
            <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="{{ site.baseurl }}/docs.html">DOCS</a>-->
            <!--</li>-->
        <!--</ul>-->
        <!--<ul class="navbar-nav">-->
            <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="{{ site.baseurl }}/news.html">NEWS</a>-->
            <!--</li>-->
        <!--</ul>-->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="https://gitlab.com/opendatahub">COMMUNITY</a>
            </li>
        </ul>
        <!--<ul class="navbar-nav">-->
            <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="{{ site.baseurl }}/feed.xml"><i class="fas fa-rss"></i></a>-->
            <!--</li>-->
        <!--</ul>-->
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dhNavbar" aria-controls="dhNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
    </button>

</nav>
