---
---

@import "variables";

.blog-post {
  .page-title {
    font-size: 3.5rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .blog-post-header {
    margin-bottom: 2rem;
  }

  .blog-post-content {
    margin-bottom: 2em;

    h1 {
      margin-top: 4rem;
    }

    h2 {
      margin-top: 3rem;
    }

    h3 {
      margin-top: 2rem;
    }
  }
}
