---
---

@import "variables";

.docs {
  .page-title {
    font-size: 3.5rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .docs-sidebar{
    .docs-nav-item a{
      color: #1e1e1e;
    }

    .docs-nav-sub-item a {
      color: #1e1e1e;
      padding-left: 3rem;
    }
  }
}

