---
---

@import "variables";

.home {
  .jumbotron {
    background-color: $jumbotron-background-color;
  }

  .jumbotron-container {
    text-align: center;

    .jumbotron-title {
      color: $jumbotron-font-color;
      margin-bottom: 20px;
    }
  }

  .dh-info, .dh-more-info {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .dh-info-section {
    margin-bottom: 3rem;
  }

  .dh-info-img-container {
    text-align: center;
  }

  h2 {
    margin-bottom: 1.2rem;
  }
}

@media (min-width: 768px) {
  .home {
    .jumbotron-container {
      display: flex;
      text-align: left;

      .jumbotron-title-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

    }
  }
}